*, *:before, *:after {
  box-sizing: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  text-align: center;
  font-family: sans-serif;
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}


hr {
  /* color: #83b582; */
  color: #d6e4aa;
  border-style: none;
  border-top: 8px dotted;
  width: 5%;
}

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  max-width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

.container-fluid {
  padding: 7% 25%;
}

.navbar {
  padding-left: 25%;
  padding-right: 25%;
  transition: top 0.5s;
  background-color: #985930;
}

.section-heading {
  /* color: #5B231C; */
  color: #8B4A22;
  font-family: 'Caveat', sans-serif;
  font-size: 5rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.section-p {
  font-family: 'Manjari', sans-serif;
  font-size: 1.5rem;
  line-height: 1.25;
  padding-bottom: 3rem;
}

/* TITLE */

#title {
  background-color: #d6e4aa;
}

.title-heading {
  color: white;
  /* font-weight: lighter; */
  font-size: 7rem;
  line-height: 1.5;
  /* font-family: 'Satisfy', sans-serif; */
  font-family: 'Caveat', sans-serif;

}

.title-p {
  /* color: white; */
  font-size: 1.5rem;
  line-height: 1.25;
  padding-bottom: 3rem;
}

.top-container {
  position: relative;
}


/* ABOUT ME */

.pipe-organ-image {
  border-radius: 50%;
  width: 15em;
  height: 15em;
  margin-bottom: 20px;
  margin-top: 20px;
}


/* REPERTOIRE */

.repertoire-list {
  font-family: 'Manjari', sans-serif;
  font-size: 1.2rem;
  list-style: none;
  list-style-position: inside;
}

.repertoire-list a {
  /* color: #995C30; */
  color: #83b582;
  /* color: #d6e4aa; */
}


/* CONTACT */

.mailto-button {
  margin-top: 4rem;
  /* background-color: #995C30; */
  /* background-color: #CB9535; */
  background-color: #83b582;


  border: 0;
}

.mailto-button:hover {
  background-color: #995C30;
  transition: 0.5s;
}


/* FOOTER */

#footer {
  padding: 2% 0 1%;
  /* background-color: #F7F5DE; */
  background-color: #d6e4aa;
}

.copyright {
  font-size: 0.75rem;
  color: grey;
}

.social-media {
  padding: 1%;
}

.social-icon {
  padding: 0 10px 5px;
  color: #995C30;
  /* color: #B27527; */
  /* color: #CB9535; */
  font-size: 1.25rem;
}

.social-icon:hover {
  /* color: #8B4A22; */
  color: #CB9535;
  transition: 0.5s;
}



@media only screen and (max-width: 991px) {

  hr {
    width: 7%;
  }

  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container-fluid {
    padding: 7%;
  }

  .pipe-organ-image {
    margin-top: 20px;
  }

  .repertoire-list {
    padding-left: 5%;
    padding-right: 5%;
  }

  .section-p {
    font-size: 1.3rem;
  }

  .title-heading {
    color: white;
    font-size: 5rem;
    line-height: 1.2;
    padding-top: 45px;
  }

}
