html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a:hover {
  text-decoration: none;
}

body {
  text-align: center;
}

#nabar {
  position: fixed;
}

hr {
  color: lightgrey;
  border-style: none;
  border-top: 6px dotted;
  width: 5%;
}

.container-fluid {
  padding: 7% 25%;
}

.navbar {
  padding-left: 25%;
  padding-right: 25%;
}


/* TITLE */

#title {
  background-color: #F7F5DE;
}

.title-heading {
  /* color: white; */
  font-size: 3.5rem;
  line-height: 1.5;
}

.title-p {
  /* color: white; */
  font-size: 1.5rem;
  line-height: 1.25;
  padding-bottom: 3rem;
}

.top-container {
  position: relative;
}

.top-container .pipe-organ-image {
  top: 1rem;
  right: 15rem;
  position: absolute;
  width: 200px;
}

/* ABOUT ME */

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
  padding-bottom: 2rem;
}

.section-p {
  font-size: 1.5rem;
  line-height: 1.25;
  padding-bottom: 3rem;
}

/* REPERTOIRE */

table {
  position: relative;
  table-layout: fixed;
  text-align: left;
  width: 100%;
}

th, td {
  padding: 15px;
}

.table-area {
  padding: 0 7%;
}

/* CONTACT */


.mailto-button {
  margin-top: 4rem;
}
/* FOOTER */

#footer {
  padding: 2% 0 1%;
  background-color: #faf5ef;
}

.copyright {
  font-size: 0.75rem;
}

.social-media {
  padding: 1%;
}

.social-icon {
  padding: 0 10px;
}


@media only screen and (max-width: 991px) {
  .navbar {
    padding-left: 5%;
    padding-right: 5%;
  }

  .container-fluid {
    padding: 7%;
  }
}
